<div class="container">
    <h1>Caster Form</h1>
    <form #clientForm = "ngForm">
      <div class="form-group">
        <label for="hostInput">Host</label>
        <input type="text" class="form-control" id="hostInput" name="host" #clientHost required>

        <label for="portInput">Port</label>
        <input type="text" class="form-control" id="portInput" name="port" #clientPort required>

        <label for="userInput">User Name</label>
        <input type="text" class="form-control" id="userInput" name="user" #clientUser>

        <label for="passwordInput">Password</label>
        <input type="text" class="form-control" id="passwordInput" name="password" #clientPasswd>

        <button type="submit" 
                class="btn btn-default"
                (click)="getMountPt(clientHost, clientPort, clientUser, clientPasswd)"
                >
                Get Mount Point
        </button>
      </div>
    </form>
</div>